<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
  </head>
  <body>
    <h1>My Library</h1>
    {% if not all_books %}
      <p>Library is Empty.</p>
    {% endif %}

    <ul>
      {% for book in all_books %}
      <li>
        {{ book.title }} - {{ book.author }} - {{ book.rating }}/10 <a href="{{ url_for('edit', book_id=book.id) }}">Edit Rating</a> |
        <form action="{{ url_for('delete_book', book_id=book.id) }}" method="POST" style="display: inline">
          <button type="submit">Delete</button>
        </form>
      </li>
      {% endfor %}

    </ul>

    <a href="{{ url_for('add') }}">Add New Book</a>
  </body>
</html>
